build/*
.cache/*
deps/*
build_tools/*
CMakeLists.txt.user
build_scripts/user_modules.py
modules/*
!modules/.clang-format
!modules/CMakeLists.txt
!modules/CMakeShared.txt
third_party_libs/*
!third_party_libs/dxtlib
!third_party_libs/rectangle_bin_pack_cmake
!third_party_libs/thirdpartylegalnotices.txt
external_libs/*
!external_libs/sharedutils-static*
!external_libs/.clang-format*
!external_libs/CMakeLists.txt
*.pyc
sync.ffs_lock
