[submodule "external_libs/datasystem"]
	path = external_libs/datasystem
	url = https://github.com/Silverlan/datasystem.git
[submodule "external_libs/alsoundsystem"]
	path = external_libs/alsoundsystem
	url = https://github.com/Silverlan/alsoundsystem.git
[submodule "external_libs/materialsystem"]
	path = external_libs/materialsystem
	url = https://github.com/Silverlan/materialsystem.git
[submodule "external_libs/vfilesystem"]
	path = external_libs/vfilesystem
	url = https://github.com/Silverlan/vfilesystem.git
[submodule "external_libs/iglfw"]
	path = external_libs/iglfw
	url = https://github.com/Silverlan/iglfw.git
[submodule "external_libs/luasystem"]
	path = external_libs/luasystem
	url = https://github.com/Silverlan/luasystem.git
[submodule "external_libs/mathutil"]
	path = external_libs/mathutil
	url = https://github.com/Silverlan/mathutil.git
[submodule "external_libs/sharedutils"]
	path = external_libs/sharedutils
	url = https://github.com/Silverlan/sharedutils.git
[submodule "external_libs/networkmanager"]
	path = external_libs/networkmanager
	url = https://github.com/Silverlan/networkmanager.git
[submodule "external_libs/prosper"]
	path = external_libs/prosper
	url = https://github.com/Silverlan/prosper.git
[submodule "external_libs/util_bsp"]
	path = external_libs/util_bsp
	url = https://github.com/Silverlan/util_bsp.git
[submodule "external_libs/util_fgd"]
	path = external_libs/util_fgd
	url = https://github.com/Silverlan/util_fgd.git
[submodule "external_libs/util_pad"]
	path = external_libs/util_pad
	url = https://github.com/Silverlan/util_pad.git
[submodule "external_libs/util_pragma_doc"]
	path = external_libs/util_pragma_doc
	url = https://github.com/Silverlan/util_pragma_doc.git
[submodule "external_libs/util_sound"]
	path = external_libs/util_sound
	url = https://github.com/Silverlan/util_sound.git
[submodule "external_libs/util_source_script"]
	path = external_libs/util_source_script
	url = https://github.com/Silverlan/util_source_script.git
[submodule "external_libs/util_timeline_scene"]
	path = external_libs/util_timeline_scene
	url = https://github.com/Silverlan/util_timeline_scene.git
[submodule "external_libs/util_versioned_archive"]
	path = external_libs/util_versioned_archive
	url = https://github.com/Silverlan/util_versioned_archive.git
[submodule "external_libs/util_vmf"]
	path = external_libs/util_vmf
	url = https://github.com/Silverlan/util_vmf.git
[submodule "external_libs/util_zip"]
	path = external_libs/util_zip
	url = https://github.com/Silverlan/util_zip.git
[submodule "external_libs/wgui"]
	path = external_libs/wgui
	url = https://github.com/Silverlan/wgui.git
[submodule "modules/pr_steamworks"]
	path = modules/pr_steamworks
	url = https://github.com/Silverlan/pr_steamworks.git
[submodule "modules/interfaces"]
	path = modules/interfaces
	url = https://github.com/Silverlan/pragma_interfaces.git
[submodule "third_party_libs/glm"]
	path = third_party_libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party_libs/gli"]
	path = third_party_libs/gli
	url = https://github.com/g-truc/gli.git
[submodule "third_party_libs/glfw"]
	path = third_party_libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party_libs/clip2tri"]
	path = third_party_libs/clip2tri
	url = https://github.com/raptor/clip2tri.git
[submodule "third_party_libs/recastnavigation"]
	path = third_party_libs/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "third_party_libs/exprtk"]
	path = third_party_libs/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "external_libs/util_image"]
	path = external_libs/util_image
	url = https://github.com/Silverlan/util_image.git
[submodule "third_party_libs/libzip"]
	path = third_party_libs/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "third_party_libs/rectangle_bin_pack"]
	path = third_party_libs/rectangle_bin_pack
	url = https://github.com/juj/RectangleBinPack.git
[submodule "third_party_libs/miniball"]
	path = third_party_libs/miniball
	url = https://github.com/hbf/miniball.git
[submodule "third_party_libs/squish"]
	path = third_party_libs/squish
	url = https://github.com/Cavewhere/squish.git
[submodule "third_party_libs/openal-soft"]
	path = third_party_libs/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "third_party_libs/alure"]
	path = third_party_libs/alure
	url = https://github.com/kcat/alure.git
[submodule "third_party_libs/assimp"]
	path = third_party_libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party_libs/eigen"]
	path = third_party_libs/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "third_party_libs/bullet"]
	path = third_party_libs/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "third_party_libs/libsamplerate"]
	path = third_party_libs/libsamplerate
	url = https://github.com/erikd/libsamplerate.git
[submodule "external_libs/util_smdmodel"]
	path = external_libs/util_smdmodel
	url = https://github.com/Silverlan/util_smdmodel.git
[submodule "external_libs/util_pcl"]
	path = external_libs/util_pcl
	url = https://github.com/Silverlan/util_pcl.git
[submodule "external_libs/util_archive"]
	path = external_libs/util_archive
	url = https://github.com/Silverlan/util_archive.git
[submodule "third_party_libs/luabind"]
	path = third_party_libs/luabind
	url = https://github.com/Silverlan/luabind-deboostified.git
[submodule "third_party_libs/zlib"]
	path = third_party_libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party_libs/vorbis"]
	path = third_party_libs/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "third_party_libs/ogg"]
	path = third_party_libs/ogg
	url = https://github.com/xiph/ogg.git
[submodule "third_party_libs/bzip2"]
	path = third_party_libs/bzip2
	url = https://github.com/sergiud/bzip2.git
[submodule "third_party_libs/utf8"]
	path = third_party_libs/utf8
	url = https://github.com/Silverlan/utf8.git
[submodule "third_party_libs/libnoise"]
	path = third_party_libs/libnoise
	url = https://github.com/qknight/libnoise.git
[submodule "third_party_libs/rapidxml"]
	path = third_party_libs/rapidxml
	url = https://github.com/discordapp/rapidxml.git
[submodule "third_party_libs/hllib"]
	path = third_party_libs/hllib
	url = https://github.com/Silverlan/hllib.git
[submodule "third_party_libs/anvil"]
	path = third_party_libs/anvil
url=https://github.com/Silverlan/Anvil
[submodule "third_party_libs/vtflib"]
	path = third_party_libs/vtflib
	url = https://github.com/panzi/VTFLib.git
[submodule "third_party_libs/libpng"]
	path = third_party_libs/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "third_party_libs/qhull"]
	path = third_party_libs/qhull
	url = https://github.com/qhull/qhull.git
[submodule "third_party_libs/niflib"]
	path = third_party_libs/niflib
	url = https://github.com/Silverlan/niflib.git
[submodule "third_party_libs/luajit"]
	path = third_party_libs/luajit
	url = https://github.com/Silverlan/LuaJIT.git
[submodule "third_party_libs/ba2lib"]
	path = third_party_libs/ba2lib
	url = https://github.com/Silverlan/BA2Lib.git
[submodule "third_party_libs/libbsa"]
	path = third_party_libs/libbsa
	url = https://github.com/Silverlan/libbsa.git
[submodule "external_libs/util_formatted_text"]
	path = external_libs/util_formatted_text
	url = https://github.com/Silverlan/util_formatted_text.git
[submodule "third_party_libs/freetype"]
	path = third_party_libs/freetype
	url = https://github.com/aseprite/freetype2.git
[submodule "external_libs/util_video_recorder"]
	path = external_libs/util_video_recorder
	url = https://github.com/Silverlan/util_video_recorder.git
[submodule "modules/pr_curl"]
	path = modules/pr_curl
	url = https://github.com/Silverlan/pr_curl.git
[submodule "modules/pr_mmd"]
	path = modules/pr_mmd
	url = https://github.com/Silverlan/pr_mmd.git
[submodule "third_party_libs/tinygltf"]
	path = third_party_libs/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "modules/pr_prosper_opengl"]
	path = modules/pr_prosper_opengl
	url = https://github.com/Silverlan/pr_prosper_opengl.git
[submodule "third_party_libs/muparserx"]
	path = third_party_libs/muparserx
	url = https://github.com/Silverlan/muparserx.git
