build/
build_tools/cmake/
deps/
.cache/
.SynologyWorkingDirectory/
.idea/
.vscode/
/build_tools/clang/
/build_tools/gcc/
/build_tools/linuxdeploy-x86_64.AppImage
/build_scripts/user_modules.py
CMakeLists.txt.user
*.pyc
sync.ffs_lock
/modules/
!/modules/.clang-format
!/modules/CMakeLists.txt
!/modules/CMakeShared.txt
/third_party_libs/
!/third_party_libs/dxtlib
!/third_party_libs/rectangle_bin_pack_cmake
!/third_party_libs/thirdpartylegalnotices.txt
/external_libs/
!/external_libs/sharedutils-static*
!/external_libs/.clang-format*
!/external_libs/CMakeLists.txt
