name: Check Linux Build (Clang)
on:
  push:
    branches-ignore:
      - main

concurrency:
  group: check-build-lin-${{ github.ref }}
  cancel-in-progress: true

env:
  # See https://github.com/git-lfs/git-lfs/issues/5749
  GIT_CLONE_PROTECTION_ACTIVE: 'false'

jobs:
  build:
    name: Build - ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    container:
      image: ghcr.io/mattkretz/cplusplus-ci/gcc16
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: ubuntu-latest
            name: "Ubuntu Latest"
    steps:
      - name: Install sudo (for container)
        shell: bash
        run: |
          apt-get -y install sudo

      - name: Setup Pragma
        uses: Silverlan/pragma/github_actions/setup@feat/cxx_modules3
        with:
          branch: ${{ github.ref_name }}
          clone_url: "https://github.com/${{ github.repository }}.git"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Install Dependencies
        shell: bash
        run: |
          apt install ninja-build

      - name: Build Pragma
        uses: ./pragma/github_actions/build
        id: build-pragma
        with:
          build-args: >-
            --with-pfm --with-all-pfm-modules --with-vr --with-networking --with-lua-debugger=0
            --with-swiftshader --no-sudo
            --cmake-arg='-DCMAKE_CXX_STDLIB_MODULES_JSON="/opt/gcc-16/lib64/libstdc++.modules.json"'
            --cmake-arg='-DCMAKE_EXE_LINKER_FLAGS="-Wl,-rpath,/opt/gcc-16/lib64 -L/opt/gcc-16/lib64"'
            --cmake-cxx-flag="--gcc-toolchain=/opt/gcc-16"
            
      - name: Run Tests
        uses: ./pragma/github_actions/run_common_tests
        timeout-minutes: 60
        with:
          working-directory: "${{ steps.build-pragma.outputs.install-dir }}"
          import-tests-token: ${{ secrets.PRAGMA_TESTS_IMPORT_TOKEN }}

      #- name: Handle Error
      #  uses: Silverlan/common_actions/action_handle_error@main
      #  if: failure()
      #  with:
      #    timeout-minutes: 15

      - name: Upload Debug Artifacts
        if: ${{ !cancelled() }}
        uses: ./pragma/github_actions/upload_debug_artifacts
        with:
          build-dir: '${{ steps.build-pragma.outputs.build-dir }}'
          deps-dir: '${{ steps.build-pragma.outputs.deps-dir }}'
          install-dir: '${{ steps.build-pragma.outputs.install-dir }}'

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: pragma-lin64
          path: ${{ steps.build-pragma.outputs.install-dir }}
          retention-days: 1
