name: Check Windows Build
on:
  push:
    branches-ignore:
      - main

concurrency:
  group: check-build-win-${{ github.ref }}
  cancel-in-progress: true

env:
  # See https://github.com/git-lfs/git-lfs/issues/5749
  GIT_CLONE_PROTECTION_ACTIVE: 'false'

jobs:
  build:
    name: Build - ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: windows-latest
            name: "Windows x64 MSVC"
            artifact: "Windows-MSVC.tar.xz"
            build_type: "RelWithDebInfo"
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
            cc: "cl"
            cxx: "cl"
            archiver: "7z a"
            generators: "Visual Studio 17 2022"
            build_dir: 'build'
    steps:
      - name: Setup Pragma
        uses: Silverlan/pragma/github_actions/setup@main
        with:
          branch: ${{ github.ref_name }}
          clone_url: "https://github.com/${{ github.repository }}.git"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Setup Visual Studio Developer Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64

      # We need the latest Windows SDK
      - uses: GuillaumeFalourd/setup-windows10-sdk-action@v2.4
        with:
          sdk-version: 22621
          
      - name: Build Pragma
        uses: ./pragma/github_actions/build
        id: build-pragma
        with:
          build-args: "--with-pfm --with-all-pfm-modules --with-vr --with-networking --with-lua-debugger=0 --with-swiftshader --build-config=Release"

      - name: Run Tests
        uses: ./pragma/github_actions/run_common_tests
        timeout-minutes: 60
        with:
          working-directory: "${{ steps.build-pragma.outputs.install-dir }}"
          import-tests-token: ${{ secrets.PRAGMA_TESTS_IMPORT_TOKEN }}

      #- name: Handle Error
      #  uses: Silverlan/common_actions/action_handle_error@main
      #  if: failure()
      #  with:
      #    timeout-minutes: 1500

      - name: Analyze Disk Space
        uses: Silverlan/common_actions/analyze_disk_space@main
        if: failure()

      - name: Upload Debug Artifacts
        if: ${{ !cancelled() }}
        uses: ./pragma/github_actions/upload_debug_artifacts
        with:
          build-dir: '${{ steps.build-pragma.outputs.build-dir }}'
          deps-dir: '${{ steps.build-pragma.outputs.deps-dir }}'
          install-dir: '${{ steps.build-pragma.outputs.install-dir }}'

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: pragma-win64
          path: ${{ steps.build-pragma.outputs.install-dir }}
          retention-days: 1

      - name: Collect PDB files
        uses: ./pragma/github_actions/collect_pdb_files
        if: ${{ !cancelled() }}
        with:
          source-directory: "${{ steps.build-pragma.outputs.build-dir }}"
          target-directory: "${{ github.workspace }}/pdb"

      - name: Upload PDB Artifacts
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: debug-pdb
          path: "${{ github.workspace }}/pdb"
          retention-days: 1
